### Predicting loan charge-off

In [1]:
import pandas as pd

In [3]:
loan_df = pd.read_csv('loan_timing.csv')
loan_df.head()

   days since origination  days from origination to chargeoff
0                     109                                 NaN
1                     679                                 NaN
2                     723                                 NaN
3                     509                                 NaN
4                     254                                 NaN

In [4]:
loan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 2 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   days since origination              50000 non-null  int64
 1   days from origination to chargeoff  3305 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 781.4 KB

In [6]:
loan_df.describe()

       days since origination  days from origination to chargeoff
count            50000.000000                         3305.000000
mean               365.844760                          214.852345
std                210.965114                          165.233874
min                  0.000000                            0.000000
25%                183.000000                           76.000000
50%                366.000000                          180.000000
75%                549.000000                          323.000000
max                730.000000                          725.000000